.text-field {
    font-family: inherit; 
    float: none; 
    margin: 10px 0;  
    width: 100%;
    background-color: white; 
    color: black; 
    border-width: 1px;
}

.signin {
    width: 250px;
    margin: 50px auto;
    padding: 40px;
    overflow: hidden; 
    border: solid 0.1px #d6d6d6;
    border-radius: 5px; 
    color: black; 
    background-color: #9CAF88;
}
#mascot {
    float: right; 
}
#toggleSignup {
    background-color: transparent;
    border: none;
    text-decoration: underline;
}
#toggleSignup:hover {
    opacity: 0.5;
}